<pre>
{{ astronauts }}
</pre>

<pre>
{{ convert }}
</pre>

<pre>
{{ convert2 }}
</pre>



<!DOCTYPE html>
<html>
<head>
    <title> {{ title }}</title>
</head>
<body>
<ul>
    {%for i in output%}
    <li>{{i}}</li>
    {%endfor%}
</ul>
<h1>{{ title }}</h1>
</body>
</html>


<!DOCTYPE html>
<html>
<head>
    <title> {{ title }}</title>
</head>
<body>
<ul>
    {%for i in convert%}
    <li>{{i}}</li>
    {%endfor%}
</ul>
<h1>{{ title }}</h1>
</body>
</html>



<!DOCTYPE html>
<html>
<head>
    <title> {{ title }}</title>
</head>
<body>
<ul>
    {%for i in tracks%}
    <li>{{ i }}</li>
    {% endfor %}
</ul>
<h1>{{ title }}</h1>
</body>
</html>